.UserInfo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.Comment {
  background-color: aqua;
}

/* .Comment-second {
  background-color: bisque;
} */

.comment-first {
  background-color: bisque;
}

.comment-second {
  background-color: pink;
}

.container {
  display: flex;
}
